.App {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}
.theme {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}
